<div class="container">
	<br><br><br>
	<h1 class="task_list_title">New Task</h1>
<br><br><br>
	<div class="forms">
		<%= render 'form' %>
	</div>
<br><br>
	<div class="links">
		<%= link_to 'Back', tasks_path %>
	</div>
</div>
