$white_opaque: rgba(250, 250, 250, .3);
 $dark: #1F7972;

* {
	box-sizing: border-box;
}
html {
  // height: 200%;
}

body {

  margin: 0;
  top: -30px;
  position: relative;

 	height: 100%;
  background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #ecc6d5 100%);
  background:    -moz-linear-gradient(40deg, #4CB8C4 10%, #ecc6d5 100%);
  background:     -ms-linear-gradient(40deg, #4CB8C4 10%, #ecc6d5 100%);
  background:      -o-linear-gradient(40deg, #4CB8C4 10%, #ecc6d5 100%);
  background:         linear-gradient(40deg, #4CB8C4 10%, #ecc6d5 100%);
  font-family: 'Poiret One', cursive;

}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#notice {
	text-align: center;
	font-size: 0.6em;
	color: $dark;
	font-weight: 100;
}

.container {
	width: 50%;
	max-width: 750px;
	background: $white_opaque;
	margin: 3em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
  height: 730px;
}

.task_list_title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #ed569e69;
  margin: 0;
  top: 314px;
  position: relative;
  background-color: #3ac4c95e;
	a {
		text-decoration: none;
		color: white;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4;
		}
	}
}

.task_list_sub_title {
	margin: 0 0 3em 0;
	text-align: center;
	font-size: 0.9em;
	color: $dark;
	font-weight: 100;
}

.index_row {
	padding: 2em;
	border-bottom: 1px solid rgba(250,250,250, .3);
	.task_list_sub_title {
		margin-bottom: 0;
	}
}

#task_items_wrapper {
	.row {
		width: 100%;
		border-top: 1px solid rgba(250,250,250, .3);
		border-bottom: 1px solid rgba(250,250,250, .3);
		.complete {
			width: 10%;
			float: left;
			text-align: center;
			border-right: 1px solid rgba(250,250,250, .3);
			padding: 1em 0;
		}
		.task_item {
			width: 80%;
			float: left;
			p {
				margin: 0;
				padding: 1em;
				color: $dark;
				font-weight: 100;
			}
		}
		.trash {
			width: 10%;
			float: left;
			text-align: center;
			border-left: 1px solid rgba(250,250,250, .3);
			padding: 1em 0;
		}
		i {
			color: white;
			transition: all .4s ease-in-out;
			&:hover {
				color: $dark;
			}
		}
	}
	#form {
		margin-top: 2em;
		padding: 0 5%;
		input[type="submit"] {
			background: rgba(250,250,250,.4);
			outline: none;
			border: none;
			height: 40px;
			border-radius: 4px;
			width: 25%;
			display: inline-block;
			transition: all .4s ease-in-out;
      position: relative;
      left: 1%;
			cursor: pointer;
			&:hover {
				background: $dark;
			}
		}
		::-webkit-input-placeholder { color: $dark; }
	}
}

.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 0.8em;
	color: white;
	a {
		color: white;
    position: relative;
    left: 3%;
	}
}

.forms {
	padding: 0 5%;
}
label {
	color: $dark;
}
input[type="text"], textarea {
	width: 100%;
	margin: 1.5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250, 250, 250, 0.4);;
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;

}
input[type="email"], email_field area {
	width: 100%;
	margin: 1.5em 2% 4em 0;
	display: inline-block;
	outline: none;
	background: rgba(250, 250, 250, 0.15);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}
input[type="password"], password_field area {
	width: 100%;
	margin: 1.5em 2% 4em 0;
	display: inline-block;
	outline: none;
	background: rgba(250, 250, 250, 0.15);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}
input[type="number"], #task_time {
	width: 100%;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}
textarea {
    height: 50px;
    top: 25px;
    position: relative;
    left: 8%;
}
#task_time {
  display: block;
  height: 10px;
  width: 105px;
}
input[type="submit"] {
	background: white;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 4px;
	width: 35%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: #eb4997;;
  position: relative;
  left: 0%;
  box-shadow: 2px 5px 30px rgba(42, 121, 122, 0.73);
  will-change: transform, filter;
  transition: all 0.3s ease-out;
  border-radius: 10%;
	&:hover {
		background: $dark;
		color: white;
	}
}
::-webkit-input-placeholder { color: $dark; }

.desc{
  margin: 30px;
}

.edbk{
  position: relative;
  left: 48%;
}

.taskDisplay{
  position: relative;
  text-align: center;
  padding: 0% 15%;
  top: -346px;
  left: 17%;
  overflow: scroll;
}

.signDisplay{
  position: relative;
  text-align: center;
  padding: 0% 15%;
  top: 9px;
}


.editPage{
  padding: 30px;
}

#ticktock{
 position: relative;
 color: black;
 font-size: 150px;
 left: 37%;
 top: -1250px;
 // border: solid 7px;
 width: 41%;
 padding: 2% 0% 2% 2%;
 text-align: center;
 // background-image: url("leaves");
}

.totalTime{
  position: relative;
  top: 76px;
}

#status{
  position: relative;
  left: 35%;
  padding: 30px 33px;
}

.countDown{
  position: relative;
  left: 50%;
  margin: 19px -38px;
  top: -1280px;
  color: red;
}

#travel{
  width: 50%;
  padding: 36px 29px;
  margin: 30px 199px;
  position: relative;
  left: -22%;
  top: -921px;
  text-align: center;
}

#travel ul{
  list-style-type: none;
}

button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  height: 200px;
  border: 0;
  border-radius: 50%;
  padding: .7em 1em;
  margin: 4em auto 3em;
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
  box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);

  will-change: transform, filter;
  transition: all 0.3s ease-out;
}
button .fa {
  font-size: 130px;
  line-height: 200px;
  margin: 0;
  text-shadow: 1px 2px 2px #2a8b90;
}
button:hover {
  transform: scale(.92);
}
button:active {
  filter: brightness(.8);
}
button:focus {
  outline: 0;
}

.iframeTest{
  position: relative;
  left: 58.2%;
  display: inline-block;
  width: 345px;
}

iframe{
  position: absolute;
  display: inline-block;
  top: 60px;
  width: 25%;
  height: 82px;
  left: 74%;
}

#roboAI{
  position: absolute;
  top: 171px;
  left: 76%;
  width: 345px;
  display: inline;
  overflow: scroll;
  height: 309px;
  z-index: 1;
}


#roboAI button{
    height: 35px;
    margin: 3%;
}

.weather{
  position: absolute;
  top: 63px;
  text-align: center;
  left: 3%;
  color: #ed569e;
  width: 24%;
}

.clocks{
  position: relative;
  top: -482px;
  font-size: 23px;
  left: -7%;
}

.quotes{
  position: absolute;
  top: 700px;
  left: 75%;
  text-align: center;
  background-color: #0000ff0f;
  width: 22%;
  padding: 1% 5%;
  z-index: 2;
}

.newT{
  position: relative;
  left: -14%;
  width: 1963px;
  top: -300px;
  z-index: 2;
  display: inline-flex;
  /* background-color: #ffffff14; */
  text-align: center;
}

#timeInput{
  margin: 30px;
}

#alarm-container{
 text-align: center;
 display: inline-flex;
 position: absolute;
 left: 80%;
 top: 526px;
 z-index: 1;

}

#buttonHolder{
  display: inline-flex;
  position: relative;
  left: 75%;
  top: -158px;
  z-index: 1;
}

#setButton{
  z-index: 1;
  width: 90px;
  margin: 0% 70%;
  height: 90px;
}

#clearButton{
  z-index: 1;
  width: 90px;
  margin: 0% 115%;
  height: 90px;
}

.setA{
  display: block;
  position: absolute;
  left: 87%;
  top: -393%;
}
